@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-body;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-heading font-normal leading-normal;
  }
  h1 {
    @apply text-6xl md:text-7xl xl:text-banner;
  }
  h2 {
    @apply text-5xl md:text-6xl xl:text-7xl;
  }
  h3 {
    @apply text-4xl md:text-5xl xl:text-6xl;
  }
  h4 {
    @apply text-3xl md:text-4xl xl:text-5xl;
  }
  h5 {
    @apply text-2xl md:text-3xl xl:text-4xl;
  }
}

@layer components {
}

@layer utilities {
  .gradient-link {
    background-image: linear-gradient(
      92deg,
      #5a0dff 0%,
      #ff29b8 20.6%,
      #ff581c 45%,
      #fff 55%
    );
    background-size: 220% 100%;
    background-position: 100% 50%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-repeat: no-repeat;
    transition: all 300ms ease-out;
    // font-weight: 800;

    &:hover {
      background-position: 0% 50%;
    }
  }
  .transition-default {
    @apply transition-all duration-300 ease-out;
  }
}
