.nav-right-part {
  .nav-search-btn {
    @apply leading-[56px];
  }
  .nav-hamburger-btn {
    @apply border-l border-[#ededed] leading-[56px];
  }
  &.nav-right-part-desktop {
    @apply flex items-center gap-5;
  }
}

.header_search_box {
  @apply top-[70%] mt-3;
  @apply invisible opacity-0;
  @apply transition-all duration-300;

  &.show_box {
    @apply visible top-full opacity-100;
  }
}

.header_search_form {
  @apply shadow-search overflow-hidden rounded bg-white;
  input {
    @apply w-[320px] border-none bg-transparent p-4 pr-4 text-[#999] outline-none;
  }
  button {
    @apply border-0 bg-transparent pr-4 shadow-none;
    /* box-shadow: none;
    border: 0;
    background-color: transparent;
    padding-right: 15px; */
  }
}

.header_search_box:has(input:focus) {
  @apply rounded-sm ring-2 ring-menu-active/80 ring-offset-[2px] ring-offset-slate-900;
}
