.nav-right-part {
  .nav-search-btn {
    @apply leading-[56px];
  }
  .nav-hamburger-btn {
    @apply border-l border-[#ededed] leading-[56px];
  }
  &.nav-right-part-desktop {
    @apply flex items-center gap-5;
  }
}

.header_search_box {
  @apply top-[30%] mt-8;
  @apply invisible opacity-0;
  @apply transition-all duration-300;

  &.show_box {
    @apply visible top-full opacity-100;
  }
}

.header_search_form {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 30px rgba(17, 17, 17, 0.1);
  input {
    width: 320px;
    color: #999;
    padding: 18px 12px 18px 18px;
    background-color: transparent;
    border: none;
  }
  button {
    box-shadow: none;
    border: 0;
    background-color: transparent;
    padding-right: 15px;
  }
}
