@import 'variables';

.swiper {
  /* width: 100%;
  height: 100%;
  .swiper-slide {
    height: auto;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
}

.home-one-slider {
  @apply min-h-[450px] max-w-[100%] overflow-hidden rounded-b-[50px] transition-transform duration-1000 ease-out xs:min-h-[550px] md:min-h-[95vh] xl:max-w-[85%];

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(200deg, rgba(31, 31, 31, 0.3) 0%, #111 100%);
    mix-blend-mode: hard-light;
    z-index: 1;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(50%) rotate(-90deg);
    width: calc(32vw - 4.39px);
    height: calc(32vw - 4.39px);
    border-radius: 50%;
    background: linear-gradient(
      92deg,
      #ff640d 0%,
      rgba(13, 13, 13, 0.51) 97.73%
    );
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
  }

  &.swiper-slide-active {
    @apply z-10;

    &::after {
      @apply invisible z-10 opacity-100;
      @screen lg {
        @apply visible;
      }
    }
  }
  &:not(.swiper-slide-active) {
    @apply z-0 scale-[0.88] opacity-50;
    filter: blur(2px);
    img {
      filter: blur(4px);
    }
  }
}
