@import 'variables';
/*----------------------------
    15. Mobile Menu Styles  
------------------------------*/
.popup_mobile_menu {
  @apply fixed bottom-0 left-0 right-0 top-0 z-9999;
  @apply invisible h-full w-full bg-black/80 opacity-0 backdrop-blur-[1px];
  @apply transition-opacity duration-500 ease-out;

  .mobile-menu {
    @apply absolute right-[-150px] z-999;
    @apply flex h-screen w-[425px] flex-col rounded-l-3xl border-l-2 border-gray-800 bg-gradient-mobile px-10 pb-6 pt-12;
    @apply transition-all duration-500 ease-out;

    @screen mmd {
      @apply w-[375px];
    }

    @screen lgmobile {
      @apply w-[310px];
    }

    @screen smmobile {
      @apply px-8 py-6;
    }

    &__top {
      .menu_header {
        @apply pb-12 pt-3;
        .close_button {
          @apply h-8 w-8 rounded-half border border-stone-500;
          .close {
            @apply relative;
            @apply w-max border-0 bg-transparent p-0 leading-1 text-white opacity-100;
          }
        }
      }

      p {
        &.menu_description {
          @apply mt-5 text-lg text-white;
        }
        @screen lgmobile {
          @apply hidden;
        }
      }
    }
    &__content {
      @apply flex flex-col;

      .menu_list {
        &__item {
          @apply block;
        }
        &__link {
          @apply relative;
          @apply m-0 inline font-medium uppercase text-white;
          @apply duration-400;
          &.hover,
          &.active {
            @apply text-menu-active;
          }
          &.active {
            @apply border-b border-white;
          }

          @screen mxs {
            @apply py-5;
          }
        }

        @screen smmobile {
          @apply py-8;
        }
      }

      .address {
        @apply border border-y border-stone-400/20 py-18;
        li {
          @apply flex items-center gap-4;

          div:first-child {
            @apply rounded-lg border border-stone-400 p-3 leading-none text-white;
          }
          &:not(:last-child) {
            @apply mb-4;
          }
          /* div:first-child {
            border: 1px solid #a9a9a9;
            line-height: 0;
            padding: 13.5px;
            color: #fff;
            border-radius: 8px;
          }
          &:not(:last-child) {
            margin-bottom: 16px;
          } */
        }
        li svg {
          @apply h-5 w-5 fill-white stroke-white stroke-2 leading-none;
          /* fill: var(--color-white);
          stroke: var(--heading-color);
          stroke-width: 2;
          line-height: 0;
          width: 20px;
          height: 20px; */
        }
        li a {
          @apply text-white;
          /* color: var(--color-white); */
        }
      }
    }

    .social_share {
      @apply border-t border-neutral-800 pt-6;
      @screen mlg {
        @apply pt-4;
      }

      &__title {
        @apply mb-5 inline-block text-lg font-medium uppercase tracking-[2px] text-white;
      }

      &__list {
        @apply flex justify-between;
        & li:not(:last-child) {
          @apply mr-2;
        }
        &_link {
          @apply h-12 w-12 rounded-half bg-stone-900 bg-gradient-header text-center leading-[50px] text-stone-300 transition-all duration-400;

          svg {
            @apply w-5 fill-white;
          }
          &:hover {
            @apply transition-all;
            background-image: linear-gradient(
              to right,
              #5a0dff -5%,
              #ff29b8 31%,
              #ff581c
            );
          }
        }
      }
    }
  }

  &.show_menu {
    @apply visible opacity-100;

    .mobile-menu {
      @apply right-0 overflow-y-auto opacity-100 transition-all duration-500 ease-out;
    }
  }
}

//mobile menu
.mobile_menu_nav {
  ul.menu_list {
    padding: 0;
    li {
      list-style: none;
      margin-bottom: 15px;
      a {
        font-family: var(--bigShoulder-font);
        font-size: 35px;
        font-weight: 600;
        position: relative;
        text-transform: uppercase;
        margin: 0;
        display: block;
        transition: 0.4s;
        z-index: 2;
        @media #{$lg_mobile} {
          font-size: 28px;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
      &.show {
        > a {
          background: var(
            --Primary-colors,
            linear-gradient(92deg, #5a0dff 0%, #ff29b8 14.6%, #ff581c 97.73%)
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
  .menu-item-has-children {
    position: relative;
    overflow: hidden;
    &:after {
      content: ' ';
      position: absolute;
      right: 0;
      top: 21px;
      font-weight: 700;
      font-size: 20px;
      height: 20px;
      width: 20px;
      background: url('/images/icons/downarrow.webp');
      background-repeat: no-repeat;
      background-size: 100%;
      transition: 0.4s;
      @media #{$lg_mobile} {
        top: 14px;
      }
    }
    .sub-menu {
      text-align: left;
      display: none;
      padding-left: 15px;
      li {
        border-bottom: 0;
        margin-bottom: 0;
        margin-top: 10px;
        a {
          display: block;
          color: #999;
          font-size: 16px;
          position: relative;
          transition: 0.4s;
          font-weight: 600;
          padding-left: 0;
          padding-right: 18px;
          color: #999;
          font-family: Dosis;
          &.current {
            background: var(
              --Primary-colors,
              linear-gradient(92deg, #5a0dff 0%, #ff29b8 14.6%, #ff581c 97.73%)
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
      &.open {
        display: block;
      }
    }
    &.show {
      &:after {
        content: ' ';
        position: absolute;
        right: 0;
        top: 21px;
        font-weight: 700;
        font-size: 20px;
        height: 20px;
        width: 20px;
        background: url('/images/icons/uparrow.webp');
        background-repeat: no-repeat;
        background-size: 100%;
        transition: 0.4s;
      }
    }
  }
}

//v 1.0.1
.mobile_menu_nav .menu-item-has-children .menu-item-has-children:after {
  top: 8px;
}
