/*#region DEFAULT NAV */
.navbar-area {
  @apply relative z-99;
}

.show-nav {
  @apply duration-700 ease-in-out;
  transform: translate(-50%, 0);
}

.hide-nav {
  @apply duration-700 ease-in-out;
  transform: translate(-50%, -105%);
}

.navbar-shape {
  @apply absolute left-0 top-0;
}

.nav-container {
  /* POSITIONAL */
  @apply fixed left-[50%] top-0 z-999 inline-block w-full max-w-xl;
  /* APPEARANCE */
  @apply rounded-b-[36px] bg-gradient-header px-4 py-5 backdrop-blur-sm;
  /* ANIMATION */
  @apply transition-all duration-400 ease-in-out;
  @screen lgmobile {
    @apply px-4 py-3;
  }

  &.navbar-bg {
    @apply relative pl-10;
    &:after {
      content: '';
      @apply absolute left-[15px] top-0 -z-10 h-full w-[95%] bg-white;
    }
  }

  .logo {
    line-height: 0.9;
    a {
      @apply text-2xl font-bold text-white;
      img {
        @apply h-auto max-w-40;
      }
    }
  }
  .btn-transparent {
    @apply text-sm font-bold;
  }
}

.main-menu {
  @apply block w-full text-left font-semibold;
}

.menu-item {
  @apply relative inline-block font-semibold uppercase leading-[1];
  .menu-link {
    @apply flex items-center gap-1 py-5 font-body text-white;
    &:hover,
    &.active {
      @apply text-menu-active;
    }
  }
}

.menu-item-has-children {
  @apply relative z-0;

  &:hover > .sub-menu {
    transform: scaleY(1);
  }
}

.sub-menu {
  /* POSITIONAL */
  @apply absolute left-0 z-99;
  /* APPEARANCE */
  @apply m-0 ml-0 min-w-[230px] rounded-2xl border border-gray-600/20 bg-gradient-bg p-0;
  /* ANIMATION */
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 300ms ease;

  &--item {
    @apply ml-0 block border-b border-gray-600/20 text-base transition-all duration-400 ease-in-out last:border-b-0;
  }
  &--link {
    @apply block whitespace-nowrap px-5 py-5 text-sm font-medium text-paragraph transition-all duration-400 ease-in;
    &:hover,
    &.active {
      @apply text-menu-active;
    }
  }
  .sub-menu {
    left: 228px;
    top: -1px;
  }
}

.sub-menu--item.menu-item-has-children > a {
  &:first-child::after {
    content: '';
    background: url('/images/icons/downarrow.webp');
    @apply absolute right-3 top-[22px] z-9999;
    @apply h-[14px] w-[14px] -rotate-90 bg-contain bg-no-repeat;
    /* background-size: 100%; */
    filter: brightness(0.5);
  }
}

/*#endregion*/

/*#region PRIMARY NAV */
.primary-nav {
  @apply mr-16 px-4;
  &::before {
    content: '';
    @apply absolute -right-4 left-auto top-[50%] inline-block translate-y-[-50%];
    @apply h-full w-[99px] rounded-[100px] bg-gradient-primary blur-md;

    &--item {
      &:not(:last-child) {
        @apply mb-5;
        @screen 2xlm {
          @apply mb-2;
        }
      }
    }

    &--link {
      @apply inline-flex w-16 items-center justify-end gap-6 overflow-hidden bg-white/10 p-5 shadow-nav-inner blur-md;

      .link-text {
        @apply shrink-0 font-narrow text-[18px];
      }
      svg {
        @apply h-6 w-6 shrink-0;
      }

      img {
        @apply h-4 w-4;
      }

      &::before {
        content: '';
        @apply absolute left-0 top-0;
        @apply h-full w-full bg-[#ff581c] bg-gradient-sidenav opacity-0;
        @apply transition-opacity duration-300 ease-in-out;
        border: 1.5px solid transparent;
        border-radius: 100px;
        mask-composite: exclude;
      }

      &:hover {
        @apply w-full;
        &::before {
          @apply opacity-100;
        }
      }
    }
  }
}
/*#endregion*/

/*#region SECONDARY NAV */
.secondary-nav {
  @apply py-5;
  &--left,
  &--right {
    @apply flex items-center;
  }
  &--right {
    @apply justify-end gap-5;

    .hl-btn {
      @apply font-narrow;
    }
    .profile-btn {
      @apply h-14 w-15 rounded-half shadow-profile;
      @screen lgmobile {
        @apply h-10 w-10;
      }
    }
  }

  .menu-btn {
    @apply h-12 w-12 rounded-half shadow-menu flex-center;
    svg {
      @apply overflow-hidden;
    }
  }
}
/*#endregion*/
